examples/light.json
[{"id":"2cc3001.e9892","type":"defaro-input","z":"f2665ae6.b57628","name":"","server":"8e917d67.2ad52","device":"25","friendly_name":"1 DAS-102.1","state":"0","output":"onchange","x":280,"y":320,"wires":[["3402eb6.0704b14"]]},{"id":"3402eb6.0704b14","type":"debug","z":"f2665ae6.b57628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":320,"wires":[]},{"id":"3526eee9.286462","type":"defaro-output","z":"f2665ae6.b57628","name":"","friendly_name":"1 DAS-102.1","server":"8e917d67.2ad52","device":"25","command":"setStatus","commandType":"defaro_cmd","payload":"payload","payloadType":"msg","x":500,"y":420,"wires":[]},{"id":"27892f24.f073b","type":"inject","z":"f2665ae6.b57628","name":"true","topic":"","payload":"{\"method\":\"setStatus\",\"params\":{\"status\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":380,"wires":[["3526eee9.286462"]]},{"id":"e75e59b6.193c78","type":"inject","z":"f2665ae6.b57628","name":"false","topic":"","payload":"{\"method\":\"setStatus\",\"params\":{\"status\":false}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":480,"wires":[["3526eee9.286462"]]},{"id":"aa4125fc.117278","type":"defaro-output","z":"f2665ae6.b57628","name":"","friendly_name":"1 DAS-102.1","server":"8e917d67.2ad52","device":"25","command":"setStatus","commandType":"defaro_cmd","payload":"payload","payloadType":"msg","x":410,"y":640,"wires":[]},{"id":"83f0fbb9.811418","type":"inject","z":"f2665ae6.b57628","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":600,"wires":[["aa4125fc.117278"]]},{"id":"82985e1a.4d855","type":"inject","z":"f2665ae6.b57628","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":680,"wires":[["aa4125fc.117278"]]},{"id":"8e917d67.2ad52","type":"defaro-server","z":"","name":"Remote","ip":"127.0.0.1","port":"6060","login":"admin","pass":"12345"}]